@import "../global/colours";
@import "../header";
@import "../app";
@import "../flightmap";

.custom-container {
    max-width: 1720px;
    padding: 0 20px;
    margin: auto;
}

.main {
    margin-top: 66px;
}